<div>
  <h2>About MovieMites</h2>
  <p>
    Movie Mites is an easily accessible movie review app which allows users to
    find reviews and post their own reviews to movies, to share their love or
    hatred of any film.
  </p>
</div>