<div class='jumbo'>
  <h2>Welcome to MovieMites</h2>
  <p>A movie rating app for movie buffs.</p>
  <div><LinkTo @route='about' class='button'>About</LinkTo><LinkTo
      @route='reviews'
      class='button'
    >Reviews</LinkTo><LinkTo @route='films' class='button'>Films</LinkTo><LinkTo
      @route='contact'
      class='button'
    >Contact</LinkTo></div>
</div>